[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
databend-sqlalchemy = {file = ".", editable = true}

[dev-packages]
black = "*"
flake8 = "*"
pytest = "*"
pytest-xdist = "*"


[requires]
python_version = "3.11"
