name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      databend:
        image: datafuselabs/databend
        env:
          QUERY_DEFAULT_USER: databend
          QUERY_DEFAULT_PASSWORD: databend
          MINIO_ENABLED: true
        ports:
          - 8000:8000
          - 9000:9000
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Pip Install
        run: |
          pip install pipenv
          pipenv install --dev --skip-lock

      - name: Verify Service Running
        run: |
          cid=$(docker ps -a | grep databend | cut -d' ' -f1)
          docker logs ${cid}
          curl -v http://localhost:8000/v1/health

      - name: Unit Test
        env:
          TEST_DATABEND_DSN: "databend://databend:databend@localhost:8000/default?sslmode=disable"
        run: |
          pipenv run pytest -s tests/unit

      - name: Integration Test
        env:
          TEST_DATABEND_DSN: "databend://databend:databend@localhost:8000/default?sslmode=disable"
        run: |
          pipenv run pytest -s tests/integration
